:root {
  --border-radius-1: 2px;
  --border-radius-2: 4px;
  --border-radius-3: 8px;
  --border-radius-4: 16px;
  --border-radius-scale: 2px;
  --border-radius-pill: 360px;
  --neutral-light-100: #f6f6f7;
  --neutral-light-200: #e9ebed;
  --neutral-light-300: #d1d5da;
  --neutral-light-400: #9da7b2;
  --neutral-light-500: #778089;
  --neutral-light-600: #545a61;
  --neutral-light-700: #353a3e;
  --neutral-light-800: #181a1c;
  --neutral-light-000: #ffffff;
  --neutral-dark-100: #e6ecf2;
  --neutral-dark-200: #abb5bf;
  --neutral-dark-300: #7e8792;
  --neutral-dark-400: #4d565f;
  --neutral-dark-500: #3b434c;
  --neutral-dark-600: #272f38;
  --neutral-dark-700: #1e242c;
  --neutral-dark-800: #12181f;
  --neutral-dark-900: #060b10;
  --neutral-dark-000: #ffffff;
  --teal-100: #8efbf7;
  --teal-200: #32e6e2;
  --teal-300: #14d8d4;
  --teal-400: #05bdba;
  --teal-500: #04a29f;
  --teal-600: #02807d;
  --teal-700: #016968;
  --teal-800: #014847;
  --teal-900: #0c2a2a;
  --teal-000: #defffe;
  --blue-100: #cde2ff;
  --blue-200: #b5d2fb;
  --blue-300: #9cbef6;
  --blue-400: #80abfa;
  --blue-500: #5d8df5;
  --blue-600: #316bf4;
  --blue-700: #2e51ed;
  --blue-800: #2036a1;
  --blue-900: #1b205b;
  --blue-000: #edf4ff;
  --gold-100: #f6e0a5;
  --gold-200: #facd6f;
  --gold-300: #fbb13d;
  --gold-400: #f98e21;
  --gold-500: #d5771a;
  --gold-600: #a85d13;
  --gold-700: #8c4c0d;
  --gold-800: #603408;
  --gold-900: #332213;
  --gold-000: #fdf5d8;
  --red-100: #fbd3d0;
  --red-200: #ffbdba;
  --red-300: #ffada9;
  --red-400: #fe8382;
  --red-500: #fe4e5c;
  --red-600: #d62740;
  --red-700: #af2536;
  --red-800: #800a20;
  --red-900: #3d1c1b;
  --red-000: #fbeeed;
  --green-100: #bef9c6;
  --green-200: #93f5a5;
  --green-300: #64d87f;
  --green-400: #3ac364;
  --green-500: #31a855;
  --green-600: #228240;
  --green-700: #1a6b34;
  --green-800: #0f4a21;
  --green-900: #152a19;
  --green-000: #e7fce9;
  --pink-100: #f6d2f2;
  --pink-200: #f7bcf3;
  --pink-300: #f3a8ee;
  --pink-400: #ef7feb;
  --pink-500: #df5adc;
  --pink-600: #b938b8;
  --pink-700: #9a2d99;
  --pink-800: #6c1d6b;
  --pink-900: #381b37;
  --pink-000: #fcf0fb;
  --purple-100: #e2d9f7;
  --purple-200: #d8c7ff;
  --purple-300: #cab9f4;
  --purple-400: #b49df1;
  --purple-500: #9b80ed;
  --purple-600: #775ce7;
  --purple-700: #614aca;
  --purple-800: #382aa4;
  --purple-900: #292142;
  --purple-000: #f5f2fc;
}
