---
import Layout from '../components/layout.astro';
---

<Layout
  title="Deploy Previews"
  description="See and share your changes in a production environment so you can ship with confidence. Gather feedback in your preferred project management tool right through your Deploy Previews!"
>
  <main>
    <h2>This is a Deploy Preview.</h2>
    <p>this is another change to the preview</p>
  </main>

</Layout>
