---
const { title, description, home = false } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preload" href="/fonts/PacaembuVar-subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/MulishVar-subset.woff2" as="font" type="font/woff2" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest" />

  <meta name="msapplication-TileColor" content="#5cebdf" />
  <meta name="theme-color" content="#ffffff" />
  <title>{title}</title>

  <link rel="stylesheet" href="/global.css">
  <style is:global>

    :root {
    
      --heading: var(--neutral-dark-900);
      --text: var(--neutral-dark-900);
      --text-muted: var(--neutral-dark-600);
      --primary: var(--blue-700);
      --primary-darker: var(--blue-800);
      --highlight: var(--teal-300);
      --button:var(--neutral-light-000);
      --lightBorder: var(--neutral-light-200);
      --light: var(--neutral-light-100);
      --white: var(--neutral-light-000);
      --card-radius: var(--border-radius-3);
      --font-primary: Pacaembu, sans-serif;
      --font-secondary: Mulish, sans-serif;

    }

    * {
      box-sizing: border-box;
    }

    html,
    body {

      color: var(--text);
      font-family: var(--font-secondary);
      font-size: 18px;
      line-height: 1.45;
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100vh;
      padding: 5rem 0 4rem;
    }

    h1, h2, h3 {
      font-family: var(--font-primary);
    }

    a:link,
    a:visited {
      color: var(--text);
      text-decoration: underline;
      text-decoration-color: var(--text);
      font-weight: 600;
    }
    a:hover,
    a:focus {
      text-decoration-color: var(--highlight);
    }

    main {
      background: var(--light);
      margin-bottom: 2rem;
      margin-top: 3rem;
      padding: 2rem max(5vw, 50vw - 60ch / 2);
      width: 100vw;
      border-style: none;
    }

    .sr-only:not(:focus):not(:active) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    .button,
    a.button {
      background: var(--primary);
      border-radius: 4px;
      color: var(--white);
      display: inline-block;
      font-weight: 800;
      padding: 0.5rem 1rem;
      text-decoration: none;
      width: max-content;
      transition-duration: .2s;
      text-decoration: none;
      margin-top: auto;
    }

    a.button:hover,
    a.button:focus,
    .button:hover,
    .button:focus {
      background: var(--primary-darker);
    }


    .container,
    .footer {
      margin: 0 auto;
      text-align: center;
      width: min(90vw, 900px);
    }

    .heading {
      color: var(--heading);
      font-size: 2.5rem;
      margin: 0;
      text-align: center;
    }

    .footer {
      color: var(--text-muted);
      font-size: 0.75rem;
      margin-top: 4rem;
    }

    .footer a {
      color: inherit;
      text-decoration: none;
    }

    .footer a:focus,
    .footer a:hover {
      text-decoration: underline;
    }

    .footer ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      list-style-type: none;
    }

    .footer li {
      margin: 0 1em;
    }

    .heart {
      display: inline-block;
      vertical-align: top;
      width: 1.1rem;
    }

    .heart img {
      display: block;
      width: 100%;
    }
  </style>
</head>
<body>
  <header class="container">
    <h1 class="heading">{title}</h1>

    <p class="description">{description}</p>

    {home !== true && (
      <p>
        <a href="/">&larr; back to home</a>
      </p>
    )}
  </header>

  <slot />

  <footer class="footer">
    <nav>
      <ul>
        <li>
          <a class="footer-link" href="https://www.netlify.com/trust-center/">Trust Center</a>
        </li>
        <li>
          <a class="footer-link" href="https://www.netlify.com/privacy/">Privacy</a>
        </li>
        <li>
          <a class="footer-link" href="https://www.netlify.com/security/">Security</a>
        </li>
        <li>
          <a class="footer-link" href="https://www.netlify.com/gdpr-ccpa/">GDPR/CCPA</a>
        </li>
        <li>
          <a class="footer-link" href="mailto:fraud@netlify.com?subject=Abuse%20report&body=Please%20include%20the%20site%20URL%20and%20reason%20for%20your%20report%2C%20and%20we%20will%20reply%20promptly." target="_blank" rel="noopener noreferrer">Abuse</a>
        </li>
      </ul>
    </nav>
  </footer>

</body>
</html>
